---
title: Adult size
hero: Adult size (120 x 120 x 65 cm)
sub_hero: Big arm-chair! - from R 2,399 delivered!
---

<div class="content" id="products">
	<section>
		<div class="container">
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products" class="btn"><strong>&#9998;</strong> Manage products</a></p>
            <div style='text-align: center'>
                <img src='/images/products/adult-beanbag-drama-moonlight.jpg' />
                <img src='/images/products/adult-beanbag-corduroy-dovegrey.jpg' style='margin-left: 10px; margin-right:10px' />
                <img src='/images/products/adult-beanbag-outdoor-blue.jpg' />
            </div>
			<ul class="product-list">
				{% for product in site.adults %}
					<li>
						{% include product-styles.html product=product %}
						<div class="product-details">
							<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>
							<p>{{ product.price | money: "ZAR" }}</p>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
</div>
