---
title: Family size
hero: Family size (160 x 160 x 75 cm)
sub_hero: Extra Large, feel like a nap? - from R 2,799 delivered!
---

<div class="content" id="products">
	<section>
		<div class="container">
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products" class="btn"><strong>&#9998;</strong> Manage products</a></p>
            <div style='text-align: center'>
                <img src='/images/products/family-beanbag-corduroy-navy.jpg' />
                <img src='/images/products/family-beanbag-corduroy-cream.jpg' style='margin-left: 10px; margin-right:10px; margin-bottom: 10px' />
                <img src='/images/products/family-beanbag-corduroy-charcoal.jpg' />
                <p>
                    Decorators note: Our Drama fabric offers 22 classy shades! see below
                </p>
            </div>
			<ul class="product-list">
				{% for product in site.families %}
					<li>
						{% include product-styles.html product=product %}
						<div class="product-details">
							<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>
							<p>{{ product.price | money: "ZAR" }}</p>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
</div>
